{% extends 'base.html' %}

{% block head %}
<title>Departments</title>
{% endblock %}

{% block body %}
<div class="department">
  <h1>Departments</h1>
  <form action="/departments/add">
    <input type="submit" value="Add Department">
  </form><br>

  <script>
  function delete_department(department_id) {
    var r = confirm("Delete department?");
    if (r == true) {
      window.location.href = "/departments/delete/" + department_id;
    }
  }
  </script>

  <table>
    <tr>
      <th>Department</th>
      <th>Average salary</th>
      <th>Actions</th>
    </tr>
    {% for department in departments_salary %}
      <tr>
        <td><a href="/departments/{{department.id}}">{{ department.department }}</a></td>
        <td>{{ department.avg_salary }}</td>
        <td>
          <button onclick="delete_department({{ department.id }})">Delete</button>
          <br>
          <!--<a href="/departments/edit/{{ department.id }}">Edit</a>-->
          <form action="/departments/edit/{{ department.id }}">
            <input type="submit" value="Edit">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

</div>
{% endblock %}