{% extends 'base.html' %}

{% block head %}
<title>Employees</title>
{% endblock %}

{% block body %}
<div class="department">
  <a href="/">Departments</a>
  <h1>{{ department.department }} Employees</h1>
  <form action="/departments/{{ department.id }}/employees/add">
    <input type="submit" value="Add Employee">
  </form><br>

  <script>
  function delete_employee(employee_id) {
    var r = confirm("Delete employee?");
    if (r == true) {
      window.location.href = "/employees/delete/" + employee_id;
    }
  }
  </script>

  <table>
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
    {% for employee in employees %}
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.date_of_birth }}</td>
        <td>{{ employee.salary|round(2) }}</td>
        <td>
          <button onclick="delete_employee({{ employee.id }})">Delete</button>
          <br>
          <!--<a href="/employees/edit/{{ employee.id }}">Edit</a>-->
          <form action="/employees/edit/{{ employee.id }}">
            <input type="submit" value="Edit">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

</div>
{% endblock %}